* {
  box-sizing: border-box;
}

.androidCompact1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 412px;
  height: 917px;
  overflow: hidden;

  .rectangle4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: #d9d9d9;
    padding: 12px 175px 9px 165px;

    .logoHornodebarroColo {
      width: 72px;
      height: 55px;
    }
  }

  .rectangle1 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 7px;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 22px 10px 24px 12px;
    min-width: 412px;

    .dora22 {
      width: 102px;
      height: 96px;
    }

    .logoHorizontal1 {
      margin-top: 16px;
      width: 174px;
      height: 65px;
    }
  }

  .rectangle2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 6px;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 5px 55px 11px 35px;
    min-width: 412px;

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .revivi {
        width: 180px;
        height: 61px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 64px;
      }

      .frame {
        margin-top: 4px;
        width: 71px;
        height: 61px;
        overflow: hidden;
      }
    }

    .logoEdiciNGrooveVert {
      margin-top: 4px;
      width: 92px;
      height: 117px;
    }
  }

  .group4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 6px;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 51px 70px 52px 71px;

    .pRoximamente {
      width: 271px;
      height: 39px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 900;
    }
  }

  .rectangle7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 6px;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 32px 37px 20px 41px;

    .aTenesUnaIdea3 {
      width: 334px;
      height: 39px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;

      .aTenesUnaIdea {
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
      }

      .aTenesUnaIdea2 {
        letter-spacing: 0;
        color: #9000ff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
      }
    }

    .aContactanos {
      margin: 19px 0px 0px 88px;
      width: 159px;
      height: 32px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
    }
  }

  .rectangle8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 6px;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 51px 19px 7px 12px;

    .carruselDeBanners {
      width: 381px;
      height: 39px;
      text-align: center;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 31px;
      padding-right: 166px;
      padding-left: 167px;

      .ellipse1 {
        border-radius: 50%;
        background: #ffffff;
        width: 14px;
        height: 14px;
      }

      .ellipse2 {
        border-radius: 50%;
        background: #b5b5b5;
        width: 14px;
        height: 14px;
      }
    }
  }

  .rectangle6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 23px;
    background: #d9d9d9;
    padding: 20px 140px 10px;

    .fOoter {
      width: 132px;
      height: 47px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 900;
    }
  }
}
